<% @comments.each do |c| %>
  <% if c.is_parent == true %>
  <div class="media" style="margin-bottom: 20px;">
  <% else %>
  <div class="media" style="margin-left:50px; margin-bottom: 20px;" >
  <% end %>
    <div class="media-body">
      <h5 class="media-heading"><small>by</small> <%= c.username %></h5>
      <%= simple_format( c.content, style: 'margin-bottom:2px;') %>
      <%= link_to "Reply", comment_school_review_path(@school_review, comm_id: c.id ), id: "comm_#{c.id}", remote:true %>
    </div>
    <% if c.is_parent == true %> <!-- only have this IF statement to pass Heroku submit -->
        </div>
    <% else %>
        </div>
    <% end %>
    <% if c.is_parent == true %>
        <hr style="margin:0;border-top-color: #e6e6e6;">
    <% else %>
        <hr style="margin-left:50px; margin-bottom:0;margin-top: 0; border-top-color: #e6e6e6;" >
    <% end %>
<% end %>
