<% @comments.each do |c| %>
  <% if c.is_parent == true %>
  <div class="media" style="margin-bottom: 20px;">
  <% else %>
  <div class="media" style="margin-left:50px; margin-bottom: 20px;" >
  <% end %>
    <div class="media-body">
      <h3 class="media-heading"><%= c.username %></h3>
      <%= simple_format( c.content, style: 'margin-bottom:2px;') %>
      <%= link_to "Reply", comment_school_review_path(@school_review, comm_id: c.id ), id: "comm_#{c.id}", remote:true %>
    </div>
  </div>

<% end %>
