
<div class="container animate-fade-in-500" style="margin-bottom: 8px;">

  <div class="form-group"  style="margin-bottom: 0px;margin-top:0px;">
    <div class="form-actions col-md-8" style="margin-bottom: 0;margin-top:0px; padding-top: 0;">
      <h3 style="padding-top: 0;">Posting your review is almost complete! <br />All you have to is <%= link_to 'Sign In', new_user_session_path  %> or <%= link_to 'Sign Up', new_user_registration_path  %>. <em>It only takes 2 minutes!</em> <small><%= link_to 'No thanks', root_path  %></small></h3>
    </div>
  </div>

</div>
<%= render "layouts/footer" %> <br >