<p>Hi <strong><%= @user.username%></strong>,</p>

<p><strong><%= @comment.username %><strong> commented on your post.</p>
<p>"<em><%= @comment.content %></em>"</p>

<p>Sign in to <a href="localhost:3000">AskTheGrad</a> and click on the "My Account" tab to respond!</p>

<p>Thanks,</p>
AskTheGrad
