<div class="container animate-fade-in-500" style="margin-bottom: 8px;">


      <div class="form-group"  style="margin-bottom: 0px;margin-top:0px;">
        <div class="form-actions col-md-8" style="margin-bottom: 0;margin-top:0px;color: green;">
          <h3 style="margin-bottom: 15px;margin-top: 0px;">About us coming soon.</h3>
        </div>
      </div>


</div>
<%= render "layouts/footer" %> <br >


