<div class="container animate-fade-in-500" style="margin-bottom: 8px;">

  <h3 style="margin-bottom: 15px;margin-top: 0px;">Making graduation a bit more predictable…</h3>

  <div class="form-actions col-md-8" style="margin-bottom: 0;margin-top:0px;margin-left: 0;padding-left: 0;">
    <p>Grads, we’re creating a platform for you to share your college and major experiences,
      educate others about your first job post-graduation, salary expectations and work satisfaction.
      Students, we’re making the unknown a bit more familiar by answering your questions about your
      college, major, potential salary and possible debt after graduation.
    </p>

    <p>Each college and major reviewed has its stats information updated instantly. These updated
      stats can be seen in each of their overview pages. Click on the “Rankings” tab to check out
      which colleges and majors have the highest rankings and see if your school and major made the cut!
    </p>

    <p>Like a particular grad’s review? Feel free to ask that grad a question to get further knowledge
      on what to expect in more detail.
    </p>
  </div>



</div>
<%= render "layouts/footer" %> <br >


