// Place all the styles related to the school_review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*INDEX PAGE*/
#atg-dt-index-description{
  width: 70%;
  white-space: normal;
//  background-color: green;
  font-size: large;
  margin-right: 20px;
  font-family:  Helvetica, Arial, sans-serif;
}

#atg-dd-index-description{
  font-size: large;
  margin-bottom: 15px;
}