<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>About</h4>
            <a href="#">About Ask The Grad</a> <br>
            <a href="#">Privacy</a> <br>
            <a href="#">Terms</a>
          </section>
        </div>
        <div class="col-md-5 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Contact</h4>
            <a href="#">Contact</a>
          </section>
        </div>
        <div class="col-md-5 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Quick Links</h4>
            <a href="#">Home</a> <br>
            <a href="#">Colleges</a> <br>
            <a href="#">Majors</a> <br>
            <a href="uates helping Student#">Stats</a> <br>
          </section>
        </div>
      </div>
    </div>
  </footer>